@page "/CV"
@inject HttpClient Http

<h1>Curriculum Vitae</h1>

<!-- attempt to embed CV from a public Google Drive Link -->
<iframe src="https://drive.google.com/file/d/1blbfHjJk_F1aMqXM9mdiMNv8Eike2dDI/preview" width="640" height="480"></iframe>

@*<embed src="https://drive.google.com/viewerng/
	viewer?embedded=true&url=https://drive.google.com/open?id=1blbfHjJk_F1aMqXM9mdiMNv8Eike2dDI" width="500" height="375">*@
