@page "/"

<h1>Hello, world!</h1>

Jason Ludden is a Senior Software Developer working in Shenzhen, China.

This site was built using Blazor, an experimental .NET web framework using C# and HTML that runs in the browser.

<SurveyPrompt Title="How is Blazor working for you?" />
